<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Keep The Axe Sharp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css" media="screen" charset="utf-8"></link>
    <link rel="stylesheet" href="/assets/css/solarized.css" media="screen" charset="utf-8"></link>
    <link rel="stylesheet" href="/assets/css/github.css" media="screen" charset="utf-8"></link>
    <link rel="stylesheet" href="/assets/css/codemirror.css" media="screen" charset="utf-8"></link>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link href='/assets/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
  </body>
  <script>
    var user = {{user}}
    console.log(user)
  </script>
  <script src="/assets/js/app.js"></script>
  <script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>
</html>
