.btn
  font-weight: 600
  font-size: 16px
  text-decoration: none
  text-align: center
  padding: 14px 48px 15px 48px
  margin-top: 20px
  display: inline-block
  cursor: pointer
  border-radius: 3px
  color: $color-white
  background: $color-blue
  border: none
  &:hover
    background: lighten($color-blue, 5%)
  &:active
    @include transform( translate3d(0, 1px, 0) )

.btn-sm
  font-size: 12px
  padding: 10px 15px
