.tags
  display: block
  margin-bottom: 10px
  list-style-type: none
  margin: 20px 0 0 0
  padding: 0

.tag
  background: #BDBDBD
  border-radius: 3px
  padding: 0px 8px 0px 7px
  color: #FFF
  font-size: 12px
  display: inline-block
  margin: 0px 6px 0px 0px
